<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="float: right; width: 20%">
        <p style="margin-bottom:5px">Filter by Status</p>
        <ng-select
          [items]="options"
          [(ngModel)]="statusSelected"
          (change)="onFilterChange(statusSelected)"
          [clearable]="false"
        ></ng-select>
      </div>
      <table
        class="
          table table-bordered table-striped table-responsive
          caption-top
          table-hover
        "
      >
        <caption>
          <h3>Tasks List</h3>
        </caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task Name</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let task of filteredTasks"
            [ngClass]="{ 'table-info': task.status == 'Closed' }"
          >
            <td>{{ task.id }}</td>
            <td>{{ task.taskName }}</td>
            <td>{{ task.assignedTo }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.status }}</td>
            <td *ngIf="task.status == 'In Progress' || task.status == 'Closed'">
              <button
                type="button"
                [disabled]="task.status == 'Closed'"
                class="btn btn-primary"
                (click)="onComplete(task.id)"
              >
                Close
              </button>
            </td>
            <td *ngIf="task.status == 'Open'">
              <button
                type="button"
                class="btn btn-primary"
                (click)="onStart(task.id)"
              >
                Start
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredTasks.length == 0">
            <td colspan="6" style="padding-left: 40%">No data to display</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
