<div class="container" style="margin-top:75px">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Create Task</h3>
      <div class="alert alert-success alert-dismissible" *ngIf="showMessage">
        <strong>Task created successfully!!</strong>
      </div>
      <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit(addTaskForm.value)">
        <div class="form-group">
          <label for="taskName">Task Name:</label>
          <input
            formControlName="taskName"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && addTaskForm.controls.taskName.errors
            }"
          />
          <div
            *ngIf="submitted && addTaskForm.controls.taskName.errors"
            class="text-danger"
          >
            <div
              *ngIf="submitted && addTaskForm.controls.taskName.errors.required"
            >
              Task Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="assignedTo">Assigned To:</label>
          <input
            formControlName="assignedTo"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && addTaskForm.controls.assignedTo.errors
            }"
          />
          <div
            *ngIf="submitted && addTaskForm.controls.assignedTo.errors"
            class="text-danger"
          >
            <div
              *ngIf="
                submitted && addTaskForm.controls.assignedTo.errors.required
              "
            >
              Assigned To is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="prioirty">Priority:</label>
          <ng-select
            [items]="options"
            formControlName="priority"
            [clearable]="false"
          ></ng-select>
        </div>
        <div class="form-group" style="padding-top:10px">
          <button class="btn btn-primary">Add Task</button>
        </div>
      </form>
    </div>
  </div>
</div>
